<section class="d-flex justify-content-center align-items-center h-100 auth">
    <div class="d-flex flex-column">
        <div class="logo text-center">
            <img src="../static/images/logo.png" alt="Логотип">
        </div>
        <h1 class="h1 title logo-h1 text-center">Вход</h1>
        <div class="form">
            <label class="input-group form-label" for="email">
            <span class="input-group-text  is-invalid">
                  <img src="../static/images/mail.png" alt="email">
            </span>
                <input name="email" type="email" class="form-control " id="email" required placeholder="Электронная почта">
            </label>
            <label class="input-group form-label" for="password">
              <span class="input-group-text">
                  <img src="../static/images/lock.png" alt="password">
            </span>
                <input name="password" type="text" class="form-control" id="password" required placeholder="Пароль">
            </label>
            <div class="form-check text-start">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                <label class="form-check-label" for="flexCheckDefault">
                    Запомнить меня
                </label>
            </div>
            <button type="submit" id="process" class="btn btn-primary w-100" disabled>Войти</button>
            <div class="auth-text text-start">
                <span>Ещё нет аккаунта?</span> <a class="" id="authText" href="#/form">Пройдите регистрацию</a>
            </div>
        </div>
    </div>
</section>

