<div class="d-flex h-100">
    <div class="container-nav d-flex flex-column h-100 flex-shrink-0" id="sidebar"></div>

    <div class="main flex-grow-1">
        <div class="title">
            <h1>Доходы</h1>
        </div>
        <div class="cells flex-wrap d-flex">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Депозиты</h3>
                    <a href="#" class="btn btn-primary ">Редактировать</a>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeModal">Удалить</button>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Зарплата</h3>
                    <a href="#" class="btn btn-primary ">Редактировать</a>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeModal">Удалить</button>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Сбережения</h3>
                    <a href="#" class="btn btn-primary ">Редактировать</a>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeModal">Удалить</button>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Инвестиции</h3>
                    <a href="#" class="btn btn-primary ">Редактировать</a>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeModal">Удалить</button>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <img src="/images/plus.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center align-items-center h-100 ">
        <div class="modal-content cater-mod">
            <div class="modal-remove">
                <h5 class="modal-title text-center" id="removeModalLabel">Вы действительно хотите удалить категорию?
                    Связанные
                    доходы будут удалены навсегда.</h5>
                <div class="modal-action d-flex justify-content-center">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Да, удалить</button>
                    <button type="button" class="btn btn-danger">Не удалять</button>
                </div>
            </div>
        </div>
    </div>
</div>

