<div class="d-flex h-100">
    <div class="container-nav d-flex flex-column h-100 flex-shrink-0" id="sidebar"></div>


    <div class="main flex-grow-1">
        <div>
            <div class="title">
                <h1>Доходы и расходы</h1>
            </div>

            <div class="form-actions d-flex">
                <a href="#/operations">
                    <button class="btn btn-success button-success">Создать доход</button>
                </a>
                <a href="#/operations" target="_blank">
                    <button class="btn btn-danger button-dangers">Создать расход</button>
                </a>
            </div>


            <section class="button income_expenses_button">
                <button type="button" class="btn btn-secondary">Сегодня</button>
                <button type="button" class="btn btn-outline-secondary">Неделя</button>
                <button type="button" class="btn btn-outline-secondary">Месяц</button>
                <button type="button" class="btn btn-outline-secondary">Год</button>
                <button type="button" class="btn btn-outline-secondary">Все</button>
                <button type="button" class="btn btn-outline-secondary">Интервал</button>
                <span>c</span> <a href="#">Дата</a>
                <span>по</span> <a href="#">Дата</a>
            </section>
        </div>

        <table class="table text-center">
            <thead>
            <tr>
                <th class="pb-2 pt-2" scope="col">№ операции</th>
                <th scope="col">Тип</th>
                <th scope="col">Категория</th>
                <th scope="col">Сумма</th>
                <th scope="col">Дата</th>
                <th scope="col">Комментарий</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td class="text-success">доход</td>
                <td>зарплата</td>
                <td>500$</td>
                <td>11.09.2022</td>
                <td></td>
                <td class="d-flex align-items-center">
                    <button class="trash" data-bs-toggle="modal" data-bs-target="#removeModal"><img
                            src="/images/trash.png" alt=""></button>
                    <form action="#/kor_expenses" target="_blank">
                    <button class="pen"><img src="/images/pen.png" alt=""></button>
                    </form>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td class="text-danger">paсход</td>
                <td>жилье</td>
                <td>2500$</td>
                <td>12.09.2022</td>
                <td></td>
                <td class="d-flex align-items-center">
                    <button class="trash" data-bs-toggle="modal" data-bs-target="#removeModal"><img
                            src="/images/trash.png" alt=""></button>
                    <a href="#/kor_category" target="_blank">
                        <button class="pen"><img src="/images/pen.png" alt=""></button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</div>


<div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center align-items-center h-100 ">
        <div class="modal-content cater-mod">
            <div class="modal-remove">
                <h5 class="modal-title text-center" id="removeModalLabel">Вы действительно хотите удалить операцию?</h5>
                <div class="modal-action d-flex justify-content-center">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Да, удалить</button>
                    <button type="button" class="btn btn-danger">Не удалять</button>
                </div>
            </div>
        </div>
    </div>
</div>

