<div class="d-flex h-100">
    <div class="container-nav d-flex flex-column h-100 flex-shrink-0" id="sidebar"></div>

    <div class="main flex-grow-1">
        <div class="title">
            <h1>Редактирование категории расходов</h1>
        </div>
        <div class="form-group form">
            <label class="input-group" for="text">
                <input type="text" class="form-control" id="text" required placeholder="Жилье">
            </label>
        </div>
        <div class="form-action d-flex">
            <button class="btn btn-success">Сохранить</button>
            <button class="btn btn-danger">Отмена</button>
        </div>
    </div>
</div>


