.income {
    padding-left: 60px;
}

.title {
    padding: 100px 0 40px 0;
}
.title h1 {
    color: #052C65;
    font-family: "Roboto 500", sans-serif;
    font-size: 40px;
}

.cell img {
    width: 16px;
    height: 16px;
}

.cell-plus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cater-mod {
    width: 530px;
    border-radius: 12px;
}
.modal-remove {
    padding: 40px;
    width: 530px;
}

.modal-remove .modal-title {
    font-family: "Roboto 500", sans-serif;
    color: #290661;
}
.modal-remove .modal-action {
    padding-top: 20px;
}

.modal-action {
    gap: 12px;
}
