
.container .trash img {
    width: 13px;
    height: 15px;
    margin-right: 10px;
}

.container .pen img {
    width: 16px;
    height: 16px;
}
.container .h6 {
    font-family: "Roboto 700", sans-serif;
/*padding: 16px 0 15px 0;*/
    border-top: 1px solid #DEE2E6;
    border-bottom: 1px solid #DEE2E6;
}
.container .h7 {
    font-size: 14px;
    /*padding: 11px 0 14px 0;*/
    border-bottom: 1px solid #DEE2E6;
}
.income_expenses_button {
    padding: 40px 0;
}


.delete {
    display: none;
}

.delete .h8 {
   font-size: 23px;
    line-height: 23px;
    letter-spacing: -0.04em;
}
